
.pan {
-fx-background-color: #FFB449;
}

.btn {
-fx-background-color: #BF3523;
-fx-text-fill: #FFFFFF;
-fx-background-radius: 0pt;
}

.lbl {
-fx-text-fill: #FFFFFF;
}

#btn-temp {
-fx-background-color: #FFBD42;
}

#btn-crw {
-fx-background-color: #43E5A7;
}

#btn-prec {
-fx-background-color: #39B3E5;
}

#btn-risk {
-fx-background-color: #FF6243;
}

#btn-dayl {
-fx-background-color: #FFE632;
}

#btn-vis {
-fx-background-color: #29E5DD;
}

#logo-im {
-fx-image: url(logo.jpg);
}

#temp-val {
-fx-font-size: 60pt;
}

#crw-pan {
-fx-background-color: #43E5A7;
}

#prec-pan {
-fx-background-color: #39B3E5;
}
